* {
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

h1,h2,h3,h4,h5,h6 {
    font-family: Georgia, serif;

}


table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background: gray;
    font-weight: bold;
    text-align: left;
}

th,
td {
  width: 144px;
  height: 32px;
  border: 0.1px solid #ccc;
  padding-left: 0.7em;
}

tr:nth-child(odd) {
    background-color: gainsboro;
  }

blockquote {
    border-left: 2px solid rgb(221,221,221);
    font-style: italic;
    align-items: center;
}

