@import url("https://fonts.googleapis.com/css?family=PT+Sans|PT+Serif");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 16px/1.2 "PT sans", sans-serif;
}

.main-header {
  display: flex;
  background-color: red;
  justify-content: space-between;
  color: white;
  padding: 0 3em;
  height: 3.5em;
  align-items: center;
  z-index: 1;
}

.main-header > p > i {
  margin-right: 0.4em;
}

.main-header ul {
  display: flex;
}

.main-header ul li {
  display: inline-block;
  margin-left: 1em;
}

.main-header ul li a {
  color: white;
}

.first-section {
  position: relative;
  height: 60vh;
  overflow: hidden;
}

.bg-pic {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: auto;
  z-index: 0;
}

.first-section .nav-ul {
  display: flex;
  position: absolute;
  z-index: 1;
  right: 0;
}

.nav-ul {
  display: flex;
  justify-content: flex-end;
}

.nav-ul li {
  display: inline-block;
  margin-left: 1.5em;
  margin-top: 1.5em;
  padding-right: 5em;
}

.nav-ul li a {
  color: white;
  text-decoration: none;
}

.first-section .main-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 40%;
}

.main-content h1 {
  font-size: 3.5em;
  color: white;
  margin-bottom: 1em;
  letter-spacing: 15px;
}

.main-content p {
  color: white;
  font-size: 1em;
  margin-bottom: 3em;
  padding: 0 10em;
}

.main-content a {
  display: inline-block;
  padding: 0.6em;
  color: white;
  background-color: red;
  border-radius: 8px;
  text-decoration: none;
  text-align: center;
  width: 9em;
  font-weight: bold;
}

.ss-content > section {
  display: flex;
  gap: 2em;
  justify-content: space-evenly;
  height: auto;
}

.card {
  width: 15%;
  text-align: center;
}

.second-section {
  position: relative;
}

.second-section h2 {
  text-align: center;
  margin: 1em auto;
  font-size: 2em;
}

.card i {
  font-size: 5em;
  margin: 0.5em auto;
}

.second-section header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.divider {
  display: inline-block;
  border-bottom: 5px solid red;
  width: 3em;
  border-radius: 20px;
}

.card h3 {
  color: red;
  margin-bottom: 1em;
}

.third-section {
  background-color: lightgray;
  margin-top: 3em;
  position: relative;
  padding-bottom: 2em;
}

.third-section header h2 {
  text-align: center;
  font-size: 2em;
  margin: 1em;
}

.ts-content section {
  display: flex;
  justify-content: space-evenly;
  gap: 2em;
  padding: 0 5em;
}

.coaches {
  text-align: center;
  margin-top: 2em;
}

.coaches img {
  border-radius: 10px;
}

.coaches p {
  padding: 0 9em;
  opacity: 0.5;
}

.coaches span {
  display: block;
  padding: 0 9em;
}

.sport {
  color: red;
  margin: 1em auto;
  font-weight: bold;
}

.third-section > header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer {
  background-color: red;
  text-align: center;
  padding: 0.6em;
}
