@import url(https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap.);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Inter;
  font-size: 15px;
  background-color: antiquewhite;
  flex-wrap: wrap;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 2em;
}

div > div {
  /* border: 2px solid black; */
  background-color: white;
}

h1 {
  font-size: 1.5em;
  letter-spacing: 1px;
  font-weight: 600;
}

.basic,
.premium,
.standart {
  position: relative;
  height: auto;
  max-width: 38vh;
  padding: 1.5em;
}

.basic > *,
.premium > * {
  margin: 1em auto;
}

.standart > * {
  margin: 1.3em auto;
}

p > i {
  margin-right: 5px;
}

.basic > header,
.premium > header {
  margin-bottom: 3em;
}

a {
  display: inline-block;
  border-radius: 5px;
  background-color: black;
  color: white;
  text-decoration: none;
  padding: 0.8em;
  box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.5);
}


.bills {
  display: block;
  margin-top: 2.2em;
  margin-bottom: 2.2em;
  font-size: 0.7em;
  opacity: 0.5;
}

b {
    font-size: 3.5em;
}

.billed > span {
    opacity: 0.65;
    font-size: 1.2em;
    letter-spacing: 0.5px;
}