.html {
  box-sizing: border-box;
}

.container {
  height: 20em;
  max-width: 65vw;
  border: 2px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
}

span {
  border: 1px solid black;
}

.workweek .workweek-label {
    flex: 1 0 100%
}
