* {
  box-sizing: border-box;
}

div,
section {
  display: flex;
  align-items: center;
  
}
.container {
  max-width: 65vw;
  align-items: stretch;
}

.week {
  flex-wrap: wrap;
}

span {
  display: block;
  padding: 1em;
}
.week span:nth-child(1),
.week span:nth-child(7) {
  flex-basis: 100%;
}

.week span:nth-child(9) {
  order: 1;
}

.notes {
  flex-direction: column;

}

span {
  border: 1px solid black;
  flex: 1 1 auto;
  text-align: center;
}

.notes span {
  flex: 1 0 50%;
}
